# Ignore everything
*

# But not these files...
!.gitignore
!GPSJammer.py
!Visualize.py
!ParentBokeh.py
!ScatterBokeh.py
!MapBokeh.py
!HistogramBokeh.py

!ScatterMap.py
!Histogram.py

# Dependency list
!requirements.txt

# ...even if they are in subdirectories
!*/

# if the files to be tracked are in subdirectories
!*/a/b/file1.txt
!*/a/b/c/*